<!DOCTYPE html>
<html lang="en" xmlns="www.thymeleaf.com">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script th:href="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
  <script th:href="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
  <link
    th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}"
    rel="stylesheet" 
  />
  <title>Bem vindo!</title>
</head>
<body>
  <main th:fragment="conteudo">
    <div class="page-header">
      <h1>
        Bem vindo
      </h1>
    </div>
  </main>
</body>
</html>